html,
body {
  height: 100%;
}

body {
  -webkit-animation: background 3s cubic-bezier(1,0,0,1) infinite;
  animation: background 3s cubic-bezier(1,0,0,1) infinite;  
}

@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: rgb(224, 226, 99); }
}

@keyframes background {
  0% { background-color: rgb(255, 153, 224); }
  33% { background-color: rgb(243, 178, 82); }  
  67% { background-color: rgb(86, 86, 179); }
  100% { background-color: rgb(216, 155, 235); }
}

audio{
    position: absolute;
    top: 117px;
    left: 25.3%;
    width: 49.4%;
    background-color: hotpink !important; /* >:( */
}
.lain-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    position: relative;
}

.lain-container img{
    width: 50%;
    height:60%;
}
.gif-a{
    position: absolute;
    top: 400px;
    right: 140px;
}

.gif-a img{
    height: 10rem;
}

.gif-b{
    position: absolute;
    top: 250px;
    right: 20px;
}

.gif-b img{
    height: 10rem;
}

.gif-d{
    position: absolute;
    top: 30px;
    right: 150px;
}

.gif-d img{
    height: 10rem;
}

.gif-e{
    position: absolute;
    top: 60px;
    left: 120px;
}

.gif-e img{
    height: 8rem;
}

.gif-f{
    position: absolute;
    top: 380px;
    left: 140px;
}

.gif-f img{
    height: 12rem;
}

.gif-g{
    position: absolute;
    top: 380px;
    left: 140px;
}

.gif-g img{
    height: 12rem;
}

.gif-h{
    position: absolute;
    top: 20px;
    left: 430px;
}

.gif-h img{
    height: 6rem;
}

.gif-i{
    position: absolute;
    top: 220px;
    left: 20px;
}

.gif-i img{
    height: 12rem;
}
.gif-c{
    position: absolute;
    background-image:url("https://i.gifer.com/Vho.gif");
    width: 99%;
    bottom: -20px;
}